.imgOverlay{
    background-color: rgba(0, 0, 0, 0.552);
    height: 30rem !important;
}

.doctorImg{
    background-image: url(../public/doctor.jpg);
    height: 30rem !important;
    background-size: cover;
}

.aboutHead{
    background-image: url(../public/cover.jpg);
}

.headOverlay{
    background: rgba(0, 0, 0, 0.928);
    padding: 300px 0;
}